Source: not-yet-commons-ssl
Section: java
Priority: optional
Maintainer: Debian Java Maintainers <pkg-java-maintainers@lists.alioth.debian.org>
Uploaders: Dennis van Dok (Software Engineer) <dennisvd@nikhef.nl>
Build-Depends: debhelper (>= 7), cdbs, default-jdk, maven-debian-helper (>= 1.4),
 liblog4j1.2-java, libcommons-httpclient-java
Standards-Version: 3.9.3
Homepage: http://juliusdavies.ca/commons-ssl/ 

Package: libnot-yet-commons-ssl-java
Architecture: all
Depends: ${misc:Depends}, ${maven:Depends}
Recommends: ${maven:OptionalDepends}
Description: Not-yet-commons-SSL is a library to make SSL and Java easier
 This library implements SSL functionality in a way that is easy and
 flexible. It improves security by checking CRLs by default. It allows
 options to be set or unset for each SSLSocketFactory. It supports
 many different formats of PKCS8 and OpenSSL Encrypted Private Keys,
 and it automatically detects the type of KeyMaterial or
 TrustMaterial.
 .
 It's called "Not-Yet-Commons-SSL" because of the intention of one day
 making it an official Apache project. It currently has no affiliation
 with the Apache Software Foundation.
